name: Java Maven Build Template

on:
  workflow_call:
    inputs:
      java_version:
        default: "17"
        type: string
      run_tests:
        default: true
        type: boolean

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: ${{ inputs.java_version }}

      - name: Build with Maven
        run: mvn clean package -DskipTests=${{ !inputs.run_tests }}
